.dropdown {
    position: relative;
    display: inline-block;
    width: 20%;
    text-align: center;
}
.menu-button {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    min-width: 125px;
}
.partition{
    background-color: rgb(200,200,200);
    width: 1px;
    height: 50%;
    margin-top: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

b{  
    float: left;
    font-weight: bold;
    color: white;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}