#promotion{
    text-align: center;
    color: orangered;
    padding-top:2%;
    width : 100%;
    height: 1100px;
   
}
.img_promotion{ 
    position: relative;
    left: 2%;
    margin:1.5%;
    width: 16%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.cover{
    width: 100%;
    height: 100%;
    text-align: center;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    opacity: 0.8;
    display: none;
}
.btn_promotion
{  
    position: absolute;
   left: 35%;
   top: 75%;
   width: 30%;
   height: 10%;
   border-color: white;
   color: white;
   border-width: 1px;
   background-color: transparent;
   display: none;

}
.img_promotion:hover  .btn_promotion  {
    display: inline;
    background-color:orangered;
}
.img_promotion:hover  .cover  {
    display: block;
}
