#film{
    text-align: center;
    padding-top:2%;
    width : 100%;
    height: 1750px;
    color: orangered;
    background-color: white;
   
}

.img_film{ 
    position: relative;
    margin:1.5%;
    width: 30%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
 
}
.cover{
    width: 100%;
    color: white;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: none;
}
.btn_film
{  
    position: absolute;
   left: 35%;
   top: 50%;
   width: 30%;
   height: 20%;
   border-color: white;
   color: white;
   border-width: 2px;
   background-color: transparent;
   display: none;

}
.img_film:hover  .btn_film  {
    display: inline;
    background-color:orangered;
}
.img_film:hover  .cover  {
    display: block;
}
