#top{
    position: relative;
    background-color:white;
    width : 100%;
    height: 100px;
}

.logo{
    left:5%;
    top: 30px;
    width: 30%;
    height: 100px; 
}
.search_textfield
{
    position: absolute;
    left: 41%;
    top: 40%;
    width: 18%;
    height: 20px; 
    padding-left:15px;
}
.search_button{
    position: absolute;
    top : 41%;
    left: 58.7%;
    width: 24px;
    height: 24px;    
    background-size: 135%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position:center;
    border-color: transparent;
    background-image:url("../image/search_filled_50px.png");
}
.user{
    position: absolute;
    top : 44%;
    left:86%;
    width: 30px;
    height: 30px;    
    background-size: 135%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position:center;
    border-color: transparent;
    background-image:url("../image/user.png");
}
.text{
    position: absolute;
    top :26%;
    left:88%;
    font-size:23px;
    font-family: Palatino;
    color:orangered;
}

